In [ ]:
import pandas as pd
import numpy as np

np.random.seed(42)

data = {
    'ID': np.arange(1, 101),
    'Name': [f'Name_{i}' for i in range(1, 101)],
    'Age': np.random.randint(18, 60, 100),
    'Salary': np.random.randint(30000, 120000, 100),
    'Department': np.random.choice(['HR', 'Engineering', 'Marketing', 'Sales'], 100),
    'Joining_Date': pd.date_range(start='2015-01-01', periods=100).to_pydatetime(),
    'Performance_Score': np.random.uniform(1, 5, 100).round(2),
    'On_Probation': np.random.choice([True, False], 100),
}

df = pd.DataFrame(data)

df.to_csv('synthetic_dataset.csv', index=False)

print("Dataset created successfully!")

Dataset created successfully!

## Task 1: Load the Dataset and View Basic Information

## Task 2: Check for Missing Values

## Task 3: Summary Statistics of Numerical Columns

## Task 4: Find the Unique Values in a Column

## Task 5: Filter Rows Based on a Condition

In [ ]:
# Filter employees with Salary greater than 90,000

## Task 6: Add a New Column for Experience

## Task 7: Group Data by Department

## Task 8: Sort Data by Performance Score

In [ ]:
# Sort employees by Performance Score in descending order

## Task 9: Rename Columns for Better Clarity

In [ ]:
# Rename the column `On_Probation` to `Is_On_Probation`

## Task 10: Count the Number of Employees in Each Department

## Task 11: Calculate the Mean and Median Age

## Task 12: Find Employees with Specific Criteria

## Task 13: Drop Unnecessary Columns

In [2]:
# Drop the 'Name' column

## Task 14: Identify Duplicate Rows (if any)

## Task 15: Save the Modified DataFrame to a New File